In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Zdvinsk,RU,2020-11-02 06:08:03,54.70,78.66,35.85,81,80,11.65
1,1,Itarema,BR,2020-11-02 06:08:03,-2.92,-39.92,80.35,76,89,9.64
2,2,Yellowknife,CA,2020-11-02 06:07:53,62.46,-114.35,6.80,84,90,4.70
3,3,Castro,BR,2020-11-02 06:08:03,-24.79,-50.01,51.22,86,63,8.55
4,4,Faanui,PF,2020-11-02 06:08:03,-16.48,-151.75,80.26,80,31,18.43

In [3]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key = g_key)

In [5]:
# Max temperature 
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [6]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center = (30.0, 31.0), zoom_level = 1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights = temps, 
                                 dissipating = False, 
                                 max_intensity = 300, 
                                 point_radius = 4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center = (30.0, 31.0), zoom_level = 1.5)
heat_layer = gmaps.heatmap_layer(locations, weights = humidity, 
                                 dissipating = False, 
                                 max_intensity = 300, 
                                 point_radius = 4)
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center = (30.0, 31.0), zoom_level = 1.5)
heat_layer = gmaps.heatmap_layer(locations, weights = humidity, 
                                 dissipating = False, 
                                 max_intensity = 300, 
                                 point_radius = 4)
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Heatmap of wind speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center = (30.0, 31.0), zoom_level = 1.5)
heat_layer = gmaps.heatmap_layer(locations, weights = wind, 
                                 dissipating = False, 
                                 max_intensity = 300, 
                                 point_radius = 4)
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [11]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
1,1,Itarema,BR,2020-11-02 06:08:03,-2.92,-39.92,80.35,76,89,9.64
4,4,Faanui,PF,2020-11-02 06:08:03,-16.48,-151.75,80.26,80,31,18.43
6,6,Araouane,ML,2020-11-02 06:08:04,18.90,-3.53,78.35,18,88,7.23
8,8,Mulanje,MW,2020-11-02 06:08:04,-16.03,35.50,80.35,58,2,3.53
9,9,Oussouye,SN,2020-11-02 06:08:04,12.48,-16.55,79.34,79,0,6.93
10,10,Airai,TL,2020-11-02 06:08:04,-8.93,125.41,76.68,56,97,3.38
14,14,Kapaa,US,2020-11-02 06:08:05,22.08,-159.32,75.20,88,90,5.82
15,15,Itaituba,BR,2020-11-02 06:08:05,-4.28,-55.98,75.70,88,86,2.35
19,19,Vaini,TO,2020-11-02 06:08:06,-21.20,-175.20,77.00,78,75,8.05
21,21,Hobart,AU,2020-11-02 06:07:52,-42.88,147.33,79.00,53,0,6.93

In [12]:
preferred_cities_df.count()

City_ID       167
City          167
Country       167
Date          167
Lat           167
Lng           167
Max Temp      167
Humidity      167
Cloudiness    167
Wind Speed    167
dtype: int64

In [13]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

        City Country  Max Temp    Lat     Lng Hotel Name
1    Itarema      BR     80.35  -2.92  -39.92
4     Faanui      PF     80.26 -16.48 -151.75
6   Araouane      ML     78.35  18.90   -3.53
8    Mulanje      MW     80.35 -16.03   35.50
9   Oussouye      SN     79.34  12.48  -16.55
10     Airai      TL     76.68  -8.93  125.41
14     Kapaa      US     75.20  22.08 -159.32
15  Itaituba      BR     75.70  -4.28  -55.98
19     Vaini      TO     77.00 -21.20 -175.20
21    Hobart      AU     79.00 -42.88  147.33

In [14]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [20]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except(IndexError):
        print("Hotel not found... skipping.")
hotel_df

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

,City,Country,Max Temp,Lat,Lng,Hotel Name
1,Itarema,BR,80.35,-2.92,-39.92,Windvillage
4,Faanui,PF,80.26,-16.48,-151.75,Bora-Bora Pearl Beach Resort & Spa
6,Araouane,ML,78.35,18.90,-3.53,
8,Mulanje,MW,80.35,-16.03,35.50,Mulanje Motel
9,Oussouye,SN,79.34,12.48,-16.55,Auberge du Routard
...,...,...,...,...,...,...
538,Salalah,OM,80.60,17.02,54.09,HAMDAN PLAZA HOTEL
540,Vanimo,PG,86.47,-2.67,141.30,Vahmoneh Lodge Vanimo
546,Namatanai,PG,84.22,-3.67,152.43,Namatanai Hotel
553,Garissa,KE,81.34,-0.45,39.64,Sharif Plaza Hotel
558,Bonfim,BR,76.32,3.08,-59.95,

In [22]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center = (30.0, 31.0), zoom_level = 1.5)
heat_layer = gmaps.heatmap_layer(locations, weights = max_temp,
             dissipating = False, max_intensity = 300, point_radius = 4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [23]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [24]:
 # Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))